/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Snack bar styles */
.snackbar-success{
    background: #21d96a;
    color: whitesmoke;
}

.snackbar-fail{
    background: #e83838;
    color: whitesmoke;
}
