<nav class="navbar is-fixed-top is-dark">

    <!-- logo -->
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="">
            <img src="assets/img/icone.png">
        </a>
    </div>

    <!-- Menu -->
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="">Home</a>
            <a class="navbar-item" routerLink="meme">Add Meme</a>
            <a class="navbar-item" routerLink="users" *ngIf="authority === 'admin'">Users</a>
            <a class="navbar-item" routerLink="auth/login" *ngIf="!authority">Login</a>
            <a class="navbar-item" *ngIf="authority" (click)="logout()">Logout</a>
        </div>
    </div>
</nav>