<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Add new meme!</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        <form (ngSubmit)="submitForm()" #memeForm="ngForm">

            <!-- Name -->
            <div class="field">
                <label class="label">Meme Name</label>
                <input type="text" name="name" class="input" placeholder="Name" [(ngModel)]="newMeme.name" #nameInput="ngModel"
                    required>

                <div class="help is-danger" *ngIf="nameInput.invalid && nameInput.touched">
                    Meme name is requiered.
                </div>
            </div>

            <!-- Tags -->
            <div class="field">
                <label class="label">Tags</label>
                <textarea class="textarea" name="tags" placeholder="Add tags to describe your image?" [(ngModel)]="newMeme.tags"
                    #tagsInput="ngModel" required></textarea>

                <div class="help is-danger" *ngIf="tagsInput.invalid && tagsInput.touched">
                    Tags are requiered.
                </div>

            </div>

            <!-- File-input -->
            <div class="field">
                <div class="file is-primary is-boxed">
                    <label class="file-label">
                        <input #imageInput
                        class="file-input" 
                        type="file"
                        (change)="onFileChanged(imageInput)"
                        accept="image/*">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fa fa-upload"></i>
                            </span>
                            <span class="file-label">
                                {{ selectedFileName }}
                            </span>
                        </span>
                    </label>
                </div>

                <div class="help is-danger" *ngIf="imageInput.invalid">
                    File is requiered.
                </div>
            </div>

            <!-- Button submit -->
            <button type="submit" class="button is-link" [disabled]="memeForm.invalid">Submit</button>
            <!-- <button type="submit" class="button is-link is-loading" [disabled]="memeForm.invalid">Submit</button> -->

        </form>

    </div>
</section>