<!-- <section class="hero is-info is-fullheight is-bold">
    <div class="hero-body">
        <div class="container">

            <h1 class="title">Home Page!</h1>

        </div>
    </div>
</section> -->

<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">BIENVENUE SUR MEMED</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container" *ngIf="memes">
        <div class="card" *ngFor="let meme of memes"> <!-- | async -->
            <div class="card-image">
                <figure class="image is-256x256">
                    <img [src]="meme.link" alt="Rare image of beautifull {{ meme.name }}">
                    <!-- http://via.placeholder.com/256x256 -->
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{ meme.name }}</p>
                        <p class="subtitle is-6">@Bob</p>
                    </div>
                </div>

                <div class="content">
                    Tags : <a href="#">#{{ meme.tags }}</a>
                    <br>
                    <time datetime="2020-1-1">1 Jan 2020</time>
                </div>
            </div>
        </div>
    </div>
</section>