.hero {
    background-image: url('/assets/img/background.jpg') !important;
    background-size: cover;
    background-position: center center;
}

.container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}

.card{
	height: max-content;
}